/*
Laptop (large) - 1440px
laptop (Medium) - 1024px
tablet - 768px
mobile (large) - 425px
mobile (medium) - 375px
mobile (small) - 320px
*/

@media screen and (max-width: 320px) {
    
}
@media screen and (max-width: 375px) and (min-width: 320px) {
    body {
        background-color: black;
    }
}
@media screen and (max-width: 425px) and (min-width: 375px) {
    body {
        background-color: lightblue;
    }
}
@media screen and (max-width: 768px) and (min-width: 425px) {
    body {
        background-color: darkblue;
    }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
    body {
        background-color: darkcyan;
    }
}
@media screen and (max-width: 1440px) and (min-width: 1024px) {
    body {
        background-color: darkgoldenrod;
    }
}