/* Variables for Color */
:root {
    --primary-color : #000;
    --header-color : #222;
    --secondary-color : rgb(245,245,245);   /* hex code - #f5f5f5*/
    /* --pop-up : rgb(30,144,255);  */
    --pop-up : #e38528;
}
/* Variables for Color */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
    scroll-behavior: smooth;
}
html {
    font-family: 'Roboto', sans-serif;
    line-height: 1.7;
    font-size: 20px;
}
/* scrollbar */
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: #333;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #666;
}
/* Reset */
a, li {
    color: inherit;
    text-decoration: none;
    list-style-type: none;
}
/* header */
header {
    width: 20%;
    height: 100vh;
    background-color: var(--header-color);
    color: var(--secondary-color);
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    display: grid;
}
header > h2 {
    text-align: center;
    text-transform: capitalize;
    padding: 30% 0px 0px 0px;
    display: inline-block;
    font-weight: 900;
}
.colorChange {
    color: var(--pop-up);
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar {
    width: 40%;
    display: flex;
    flex-direction: column;
}
.navbar li {
    display: inline;
    padding: 10px 0px;
}
.navbar>li:hover {
    color: var(--pop-up);
}
.navbar li > a {
    padding: 0px 20px;
    display: block;
    margin: auto;
    text-align: center;
}
.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
}
.social {
    display: flex;
    flex-direction: row;
}
.social li {
    padding: 0px 9px;
}
.social li > a {
    font-size: 1.5em;
}
.social li > a > i {
    margin: 0;
    padding: 0;
}
.social li > a > i:hover {
    color: var(--pop-up);
}
/* header completed */
/* main */
main {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    margin-left: 20%;
    font-size: 1.1em;
}
/* Hero */
.hero {
    height: 100vh;
    color: var(--secondary-color);
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    padding: 10px 25px;
}
.hero .wrapper {
    width: 90%;
    margin: auto;
    padding: 0px 20px;
}
.btn button {
    padding: 10px 14px;
    background-color: var(--pop-up);
    color: var(--secondary-color);
    border-radius: 6px;
    font-size: 0.8em;
    margin: 10px 0px;
}
.btn button:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
/* Hero */
/* about */
.about {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about .wrapper {
    width: 90%;
    margin: auto;
    padding: 0px 20px;
    display: flex;
    flex-direction: row;
}
.col {
    width: 50%;
    /* background-color: #222; */
}
.col-1 > .inner-wrapper >p > i {
    padding-right: 10px;
}
.col-1 {
    padding: 10px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.inner-wrapper {
    line-height: 2;
}
.col-2 img {
    width: 80%;
    margin: auto;
    display: block;
    border-radius: 50%;
}
/* about */
/* Skills */
.skills {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skills .wrapper {
    width: 90%;
    margin: auto;
    padding: 40px 20px;
}
.skills .wrapper h2 {
    text-align: center;
}
.skills-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 22px 0px 0px 0px;
}
.skills-card {
    width: 25%;
    padding: 15px 0px;
    text-transform: capitalize;
    margin: 5px 5px;
    border-radius: 10px;
    background-color: #222;
}
.skills-card .skills-logo {
    text-align: center;
    font-size: 2em;
}
.skills-card .skills-name {
    text-align: center;
}
/* Skills */
/* Education */
.education-timeline {
    /* height: 100vh; */
    padding: 20px 20px;
}
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0px auto;
}
/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: var(--secondary-color);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}
  /* Container around content */
.timeline .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: var(--secondary-color);
    border: 4px solid var(--pop-up);
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}
/* Place the container to the left */
.left {
    left: 0;
}  
/* Place the container to the right */
.right {
    left: 50%;
}
/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }
  
  /* The actual content */
  .content {
    padding: 20px 30px;
    background-color: #222;
    color: var(--secondary-color);
    position: relative;
    border-radius: 6px;
  }
  .content .ed-year {
    font-size: 1.8vw;
  }
  .content .ed-cr-name {
    font-size: 1.2vw;
  }
  .content .ed-college {
    font-size: 1.1vw;
  }
  .content .ed-uni {
    font-size: 0.9vw;
  }
  .content .ed-about {
    font-size: 1vw;
  }
  
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
    left: 31px;
    }
    
    /* Full-width containers */
    .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    }
    
    /* Make sure that all arrows are pointing leftwards */
    .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    }
  
    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
    left: 15px;
    }
    
    /* Make all right containers behave like the left ones */
    .right {
    left: 0%;
    }
  }
/* Education */
/* main */